@charset "ISO-8859-1";
body {
    margin: 0;
    padding: 0;
		background: linear-gradient(to right, #efefbb 0%, #d4d3dd 100%);
		family: $font;
	
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}
.cardarrange{
	 position:absolute;
  left:455px;
  top:327px;
}
.cardarrange1{
	 position:absolute;
  left:80px;
  top:327px;
}
.cardarrange2{
	 position:absolute;
  left:832px;
  top:327px;
}
.cardarrange3{
	 position:absolute;
  left:1200px;
  top:327px;
}
.incomecost{
	 position:absolute;
  left:455px;
  top:10%;
  background:white;
}
.footer{
	  width: 761px;
  border: 2px solid #185a9d;
  padding: 268px;
  margin: 17px;
  position:absolute;
  left:108px;
  top:39px;
	
	background-image: linear-gradient(to right top, #423c7f, #1c64a7, #008bc2, #00b1d1, #3ad5d7);
}
.logo{
	position:absolute;
	top:10px;
	left:1px;
}
.logout{
	position:absolute;
	top:66px;
	right:-12px;
}

.Arrange{
	position:absolute;
	top:153px;
	right:1014px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.text {
	text-transform: uppercase;
	background: linear-gradient(to right, #efefbb 0%, #524E9B 100%);
	
	font: {
		size: 20vw;
		family: $font;
		
	};
}
img { 
  background: url(E-Commerce-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
.Arrangement{
	position:absolute;
	top:78px;
	left:70px;
}

.bod{
  
   
  width: 761px;
  border: 2px solid #185a9d;
  padding: 268px;
  margin: 17px;
  position:absolute;
  left:108px;
  top:39px;
  background-color:white;
  height:153px;
  
}
a {
	background:#d4d3dd;
    font-family: "Times New Roman", Times, serif;
  color: black;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-image: linear-gradient(to top, #173c74, #24478f, #3851ab, #505bc6, #6b63e0);
}

a:active {
  background-color: black;
}

a:visited {
  background-color: #b5c0cc ;

}

.Image{
	position:absolute;
	top:85px;
	left:781px;
}

.topnav .search-container {
  float: right;
 
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
background-image: linear-gradient(to right top, #423c7f, #1c64a7, #008bc2, #00b1d1, #3ad5d7);
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #400080;
}

.active {
  background-color: #400080;
}
.c{
	position:absolute;
	top:52px;
	left:468px;
	
}
.sumincome{

position:absolute;
	top:15px;
	left:341px;

}
.button {
  border-radius: 4px;
  background-image: linear-gradient(to top, #173c74, #24478f, #3851ab, #505bc6, #6b63e0);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 19px;
  padding: 7px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
