@charset "ISO-8859-1";
body {background-color: linear-gradient(to right, #efefbb 0%, #d4d3dd 100%);;
}
h1 {font-size:300%;
    text-align:center;
    font-family:Comic Sans MS;
    
}

.div1 {
	background-image:url();
	width: 250px;
	height: 450px;
	border: 4px solid black;
	font-size:100%;
	font-family: Comic Sans MS;
	text-align:center;
	
	
}

.div2 {
	background-image:url();
	width: 250px;
	height: 450px;
	border: 4px solid black;
	font-size: 100%;
	font-family: Comic Sans MS;
	text-align:center;
	
	
}

.div3 {
	background-image:url();
	width: 250px;
	height: 450px;
	border: 4px solid black;
	font-size:100%;
	font-family: Comic Sans MS;
	text-align:center;
	
	
}

.div4 {
	background-image:url();
	width: 250px;
	height: 450px;
	border: 4px solid black;
	font-size:100%;
	font-family: Comic Sans MS;
	text-align:center;
	
	
}

.div5 {
	background-image:url();
	width: 250px;
	height: 450px;
	border: 4px solid black;
	font-size:100%;
	font-family: Comic Sans MS;
	text-align:center;
	
	
}

.div6 {
	background-image:url();
	width: 250px;
	height: 450px;
	border: 4px solid black;
	font-size:100%;
	font-family: Comic Sans MS;
	text-align:center;
	
	
}

.div7 {
	background-image:url();
	width: 250px;
	height: 450px;
	border: 4px solid black;
	font-size:100%;
	font-family: Comic Sans MS;
	text-align:center;
	
	
}
	
input[type=text] {
	width: 40%;
	padding: 8px;
	margin: 11px 0;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 3px;	
}

input[type=password] {
	width: 40%;
	padding: 10px;
	margin: 1px 0;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 3px;	
}

.submit {
	background-color: white;
	color:black;
	padding: 10px 12px;
	text-align: center;
	font-size:16px;
	cursor:pointer;
	
}

.column {
	float: left;
	width: 32.33%;
	padding: 1px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

select {
	font-size:120%;
	font-family: Comic Sans MS;
}

header input[type=text], header input[type=password] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color:#00CED1;
    color: Black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}

.logo
{
    width: 50%; 
    height: auto;
    
}

.h1
{
 float: right;
 font-size: 50px;
 margin-top:-60px;
 color:white;
}